{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %} 

{% block main %}
    <div class="error-card-container">
        <div class="col s12 m7">
            <h2 class="header">{{ code }}</h2>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p> {{ message }} </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}