{% extends "layout.html" %}

{% block title %}
    MathStone Game History
{% endblock %}

{% block main %}
<div class="full-page active" id="game-history-tab"> 
    <div class="navbar">
        <div class="navbar-container username">
            <span class="material-symbols-outlined">person</span>
            <p></p>
        </div>
        <div class="navbar-container"><p>Game History</p></div>
        <div class="navbar-container dropdown">
            <button id="dropdown-button" class="navbar-container dropdown-toggle waves-effect">
                <p>Menu</p><span class="material-symbols-outlined">menu</span>
            </button>
        </div>
    </div>
    <div class="dropdown-menu" id="dropdown-menu">
        <div class="dropdown-menu-content dark-mode-toggle">
            <p>Darkmode</p><span class="material-symbols-outlined">dark_mode</span>
        </div>
        <form class="dropdown-menu-content" action="/leaderboard" method="post" id="leaderboard-form">
            <input type="hidden" name="query_type" value="default">
            <input type="hidden" name="quantity" value="10">
            <button class="dropdown-button" >
                <p>Leaderboard</p><span class="material-symbols-outlined" style="left: 8%;">leaderboard</span>
            </button>
        </form>
        <div class="dropdown-menu-content">
            <p>Profile</p><span class="material-symbols-outlined" style="left: 5%;">account_circle</span>
        </div>
        <div class="dropdown-menu-content">
            <p>Settings</p><span class="material-symbols-outlined">settings</span>
        </div>
        <form class="dropdown-menu-content" action="/home" method="post" id="home-form">
            <button class="dropdown-button">
                <p>Home</p><span class="material-symbols-outlined" style="left: 4%">home</span>
            </button>
        </form>
        <form class="dropdown-menu-content" action="/logout" method="post" id="logout-form">
            <button class="dropdown-button" id="logout-button">
                <p>Logout</p><span class="material-symbols-outlined">logout</span>
            </button>
        </form>
    </div>
    <div class="history-filter-container">
        <div class="mode-switch-container">
            <div class="mode-switch">
                <span class="material-symbols-outlined">icecream</span>
            </div>
            <div class="mode-switch">
                <span class="material-symbols-outlined">timer</span>
            </div>
            <div class="mode-switch">
                <span class="material-symbols-outlined">skull</span>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        {% for game in user_game_history %}
        <div class="row-container">
            <div class="game-history-row {{ cycle(loop.index) }}" data-row-id="{{ loop.index }}">
                <div class="icon-container {{ game[0] }}">
                    <span class="material-symbols-outlined">{{ ICON_MAP[game[0]] }}</span>
                </div>
                <div class="timer-container">
                    <p class="timer">{{ game[9] }}s</p>
                </div>
                <div class="questions-amount-container">
                    <p class="question-amount">{{ game[1] }} / {{ game[2] }}</p>
                </div>
                <div class="percentage-container">  
                    <p class="percentage">{{ calculate_percentage(game[1], game[2]) }}%</p>
                </div>
                <div class="experience-container">
                    <p>
                        {{ game[8] }}
                    </p>
                </div>
            </div>
            <div class="detailed-history-row" data-row-id="{{ loop.index }}">
                <div class="experience-row">
                    {% for i in range(5) %}
                        <p> {{ game[3 + i] }} </p>
                    {% endfor %}
                </div>
                {% for detailed_game in parse_detailed_game_history(game[11]).values() %}
                <div class="question-row">
                    <div class="mode-container">
                        {% if detailed_game['operator'] == '^' %}
                        <p class="exponential">x²</p>
                        {% elif detailed_game['operator'] == 'x' %}
                        <p class="multiplication">×</p>
                        {% else %}
                            <p class="{{ MODE_MAP[detailed_game['operator']] }}"> {{ detailed_game['operator'] }} </p>
                        {% endif %}
                    </div>
                    <div class="timer-container">
                        <p> {{ detailed_game['question_timer']}}s </p>
                    </div>
                    <div class="question-container">
                        {% if detailed_game['operator'] == '^' %}
                            <p>{{ detailed_game['operand_1'] }} <sup>{{ detailed_game['operand_2'] }}</sup>
                        {% else %}
                            <p>{{ detailed_game['operand_1'] }}  {{ detailed_game['operator'] }}  {{ detailed_game['operand_2'] }}
                        {% endif %}
                            = {{ detailed_game['user_result'] }} </p>
                        {% if detailed_game['question_result'] == detailed_game['user_result'] | int %}
                            <span class="material-symbols-outlined correct">check</span>
                        {% else %}
                        <span class="material-symbols-outlined incorrect">close</span>
                        <p class="corrected-answer"> = {{ detailed_game['question_result'] }} </p> 
                        <span class="material-symbols-outlined info">check</span>

                        {% endif %}
                    </div>
                    <div class="experience-container">
                        <p> {{ detailed_game['question_exp']}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}