{% extends "layout.html" %}

{% block title %}
    MathStone Game History
{% endblock %}

{% block main %}
<div class="full-page active" id="game-history-tab"> 
    <div class="navbar">
        <div class="navbar-container username">
            <span class="material-symbols-outlined">person</span>
            <p></p>
        </div>
        <div class="navbar-container"><p>Game History</p></div>
        <div class="navbar-container dropdown">
            <button id="dropdown-button" class="navbar-container dropdown-toggle waves-effect">
                <p>Menu</p><span class="material-symbols-outlined">menu</span>
            </button>
        </div>
    </div>
    <div class="dropdown-menu" id="dropdown-menu">
        <div class="dropdown-menu-content dark-mode-toggle">
            <p>Darkmode</p><span class="material-symbols-outlined">dark_mode</span>
        </div>
        <form class="dropdown-menu-content" action="/leaderboard" method="post" id="leaderboard-form">
            <input type="hidden" name="query_type" value="default">
            <input type="hidden" name="quantity" value="10">
            <button class="dropdown-button" >
                <p>Leaderboard</p><span class="material-symbols-outlined" style="left: 8%;">leaderboard</span>
            </button>
        </form>
        <div class="dropdown-menu-content">
            <p>Profile</p><span class="material-symbols-outlined" style="left: 5%;">account_circle</span>
        </div>
        <div class="dropdown-menu-content">
            <p>Settings</p><span class="material-symbols-outlined">settings</span>
        </div>
        <form class="dropdown-menu-content" action="/home" method="post" id="home-form">
            <button class="dropdown-button">
                <p>Home</p><span class="material-symbols-outlined" style="left: 4%">home</span>
            </button>
        </form>
        <form class="dropdown-menu-content" action="/logout" method="post" id="logout-form">
            <button class="dropdown-button" id="logout-button">
                <p>Logout</p><span class="material-symbols-outlined">logout</span>
            </button>
        </form>
    </div>
    <div class="scroll-container">
        {% for game in user_game_history %}
            <div class="game-history-row {{ cycle(loop.index) }}" data-row-id="{{ loop.index }}">
                <div class="icon-container">
                    <span class="material-symbols-outlined">{{ ICON_MAP[game[0]] }}</span>
                </div>
                <div class="questions-amount-container">
                    <p class="question-amount">{{ game[1] }} / {{ game[2] }}</p>
                </div>
                <div class="percentage-container">  
                    <p class="percentage">{{ calculate_percentage(game[1], game[2]) }}%</p>
                </div>
                <div class="timer-container">
                    <p class="timer">{{ game[8] }}s</p>
                </div>
                <div class="mode-container">
                    {% for i in range (5) %}
                        <div class="mode-experience-container">
                            <p> {{ game[3 + i] }} </p>
                        </div>
                    {% endfor %}
                </div>
                <div class=date-container>
                    <p class=date> {{ format_date(game[9]) }} </p>
                </div>
            </div>
            <div class="detailed-history-row" data-row-id="{{ loop.index }}">
                {% for detailed_game in parse_detailed_game_history(game[10]).values() %}
                    
                    <p> {{ detailed_game['operand_1'] }} </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}