{% extends "layout.html" %}

{% block title %}
    MathStone Home
{% endblock %} 

{% block main %}
    <div class="full-page">
        <div class="navbar" styl="justify-content: start">
            <button class="navbar-btn waves-effect active">Home</button>
            <button class="navbar-btn waves-effect">Profile</button>
            <button class="navbar-btn waves-effect">Leaderboard</button>
            <button id="dropdown-button" class="navbar-btn waves-effect dropdown dark-mode-toggle">DROPDOWN</button>
        </div>
        <div class="play-container">
            <div class="play-container-top">
                <div class="switchboard" id="switchboard">
                    <div class="switch-column">
                        <div class="switch" id="addition">
                            <span class="switch-button">
                                <p class=switch-text>+</p>
                            </span>
                        </div>
                        <div class="switch" id="subtraction">
                            <span class="switch-button">
                                <p class="switch-text">−</p>
                            </span>
                        </div>
                    </div>
                    <div class="switch-column">
                        <div class="switch" id="multiplication">
                            <span class="switch-button">
                                <p class="switch-text">×</p>
                            </span>
                        </div>
                        <div class="switch" id="division">
                            <span class="switch-button">
                                <p class="switch-text">÷</p>
                            </span>
                        </div>
                    </div>
                    <div class="switch-column">
                        <div class="switch large" id="special">
                            <span class="switch-button">
                                <p class="switch-text">★</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mode-select-container" id="mode-select">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Slide 1
                                
                            </div>
                            <div class="swiper-slide">Slide 9

                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="play-container-bottom">
                <button class="play-container-btn">PLAY</button>
            </div>
        </div>
    </div>
{% endblock %}