{% extends "layout.html" %}

{% block title %}
    MathStone Home
{% endblock %} 

{% block main %}
    <div class="full-page active" id="home-tab">
        <div class="navbar">
            <div class="navbar-container username">
                <span class="material-symbols-outlined">person</span>
                <p></p>
            </div>
            <div class="navbar-container"><p>Home</p></div>
            <div class="navbar-container dropdown">
                <button id="dropdown-button" class="navbar-container dropdown-toggle waves-effect">
                    <p>Menu</p><span class="material-symbols-outlined">menu</span>
                </button>
            </div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <div class="dropdown-menu-content dark-mode-toggle">
                <p>Darkmode</p><span class="material-symbols-outlined">dark_mode</span>
            </div>
            <form class="dropdown-menu-content" action="/leaderboard" method="post" id="leaderboard-form">
                <input type="hidden" name="query_type" value="default">
                <input type="hidden" name="quantity" value="10">
                <button class="dropdown-button" >
                    <p>Leaderboard</p><span class="material-symbols-outlined" style="left: 8%;">leaderboard</span>
                </button>
            </form>
            <div class="dropdown-menu-content">
                <p>Profile</p><span class="material-symbols-outlined" style="left: 5%;">account_circle</span>
            </div>
            <div class="dropdown-menu-content">
                <p>Settings</p><span class="material-symbols-outlined">settings</span>
            </div>
            <form class="dropdown-menu-content" action="/logout" method="post" id="logout-form">
                <button class="dropdown-button" id="logout-button">
                    <p>Logout</p><span class="material-symbols-outlined">logout</span>
                </button>
            </form>
        </div>
        <div class="play-container">
            <div class="play-container-left">
                <div class="switchboard-container vanilla" id="switchboard">
                    <div class="switch-row">
                        <div class="switch" id="addition">
                            <p class=switch-text>+</p>
                        </div>
                        <div class="switch" id="subtraction">
                            <p class="switch-text">−</p>
                        </div>
                        <div class="switch" id="multiplication">
                            <p class="switch-text">×</p>
                        </div>
                        <div class="switch" id="division">
                            <p class="switch-text">÷</p>
                        </div>
                        <div class="switch" id="exponential">
                            <p class="switch-text">x²</p> 
                        </div>
                    </div>
                </div>
                <div class="mode-select-container" id="mode-select">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="game-mode vanilla">
                                    <div class="settings-header">
                                        <span class="material-symbols-outlined">icecream</span>
                                        <div class="tooltip-container">
                                            <p>Select your questions and answer at your own pace</p>
                                        </div>
                                        <p>Vanilla</p>
                                    </div>
                                    <div class="settings">
                                        <div class="settings-container">
                                            <div class="input-information"><p>Questions: <span class="range-results">5</span></p></div>
                                            <input type="range" min="1" max="20" step="1" value="5" id="vanilla-questions" name="vanilla-questions">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="game-mode timed">
                                    <div class="settings-header">
                                        <span class="material-symbols-outlined">timer</span>
                                        <div class="tooltip-container">
                                            <p>Race against time! Answer as many questions as you can</p>
                                        </div>
                                        <p>Timed</p>
                                    </div>
                                    <div class="settings">
                                        <div class="settings-container">
                                            <div class="input-information"><p>Time: <span class="range-results">20</span> s</p></div>
                                            <input class="timer" type="range" min="5" max="60" step="5" value="20" id="timed-timer" name="timed-timer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- discontinued for now -->
                            <!-- <div class="swiper-slide">
                                <div class="game-mode choice">
                                    <div class="settings-header">
                                        <div class="title-scroller">
                                            Questions: <span class="range-results">5</span>
                                        </div>
                                        <div class="title-toggle">
                                            <p>Choices</p>
                                        </div>
                                    </div>
                                    <div class="settings">
                                        <div class="settings-container scroller">
                                            <input type="range" min="5" max="30" step=5 value="5" id="choice-questions" name="choice-questions">
                                        </div>
                                        <div class="settings-container toggle">
                                            <div class="buttons-container">
                                                <div class="toggle-button">
                                                    <p>2</p>
                                                </div>
                                                <div class="toggle-button">
                                                    <p>3</p>
                                                </div>
                                                <div class="toggle-button active">
                                                    <p>4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="settings-header">
                                        <span class="material-symbols-outlined">grid_view
                                            <div class="tooltip-container">
                                                TODO
                                            </div>
                                        </span>
                                        <p>Multiple Choice</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="swiper-slide">
                                <div class="game-mode sudden">
                                    <div class="settings-header">
                                        <span class="material-symbols-outlined">Skull</span>
                                        <div class="tooltip-container">
                                            <p>One wrong move and it's game over</p>
                                        </div>
                                        <p>Sudden Death</p>
                                    </div>
                                    <div class="settings">
                                        <div class="settings-container">
                                            <div class="input-information"><p>Time: <span class="range-results">20</span> s</p></div>
                                            <input class="timer" type="range" min="5" max="60" step="5" value="20" id="timed-timer" name="timed-timer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-container">
                    <div class="submit-button vanilla" id="submit-button">
                        <p class="submit-button-text">PLAY</p>
                    </div>
                </div>
            </div>
            <div class="play-container-right">
                <div class="results-container vanilla" id="results-container">
                    <div class="last-game-results">
                        <div class="results-row header">
                            <p>Game Mode</p>
                            <p>Experience Gained</p>
                            <p>Results</p>
                        </div>
                        <!-- Cant use Jinja here because the results have to filled after a tab-switch and not refresh -->
                        <div class="results-row">
                            <div class="icon-container">
                                <span class="material-symbols-outlined"></span>
                            </div>
                            <div class="question-amount-container">
                                <p class="question-amount"></p>
                            </div>
                            <div class="mode-container">

                            </div>
                            <div class="percentage-container">
                                <p class="percentage"></p>
                            </div>
                            <div class="timer-container">
                                <p class="timer"></p>
                            </div>
                        </div>
                        <div class="results-row">
                            <div class="icon-container">
                                <span class="material-symbols-outlined"></span>
                            </div>
                            <div class="question-amount-container">
                                <p class="question-amount"></p>
                            </div>
                            <div class="mode-container">

                            </div>
                            <div class="percentage-container">
                                <p class="percentage"></p>
                            </div>
                            <div class="timer-container">
                                <p class="timer"></p>
                            </div>
                        </div>
                        <div class="results-row">
                            <div class="icon-container">
                                <span class="material-symbols-outlined"></span>
                            </div>
                            <div class="question-amount-container">
                                <p class="question-amount"></p>
                            </div>
                            <div class="mode-container">

                            </div>
                            <div class="percentage-container">
                                <p class="percentage"></p>
                            </div>
                            <div class="timer-container">
                                <p class="timer"></p>
                            </div>
                        </div>
                        <div class="results-row">
                            <div class="icon-container">
                                <span class="material-symbols-outlined"></span>
                            </div>
                            <div class="question-amount-container">
                                <p class="question-amount"></p>
                            </div>
                            <div class="mode-container">

                            </div>
                            <div class="percentage-container">
                                <p class="percentage"></p>
                            </div>
                            <div class="timer-container">
                                <p class="timer"></p>
                            </div>
                        </div>
                        <div class="results-row">
                            <div class="icon-container">
                                <span class="material-symbols-outlined"></span>
                            </div>
                            <div class="question-amount-container">
                                <p class="question-amount"></p>
                            </div>
                            <div class="mode-container">

                            </div>
                            <div class="percentage-container">
                                <p class="percentage"></p>
                            </div>
                            <div class="timer-container">
                                <p class="timer"></p>
                            </div>
                        </div>
                    </div>
                    <div class="levels-container">
                        <div class="level-info-container" id="addition-container">
                            <div class="level-info-top">
                                <p class="level-text">+</p>
                            </div>
                            <div class="level-info-bottom">
                                <div class="level-number">
                                    <p></p>
                                </div>
                                <div class="level-bar">
                                    <span class="filled-xp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="level-info-container" id="subtraction-container">
                            <div class="level-info-top">
                                <p class="level-text">−</p>
                            </div>
                            <div class="level-info-bottom">
                                <div class="level-number">
                                    <p></p>
                                </div>
                                <div class="level-bar">
                                    <span class="filled-xp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="level-info-container" id="multiplication-container">
                            <div class="level-info-top">
                                <p class="level-text">×</p>
                            </div>
                            <div class="level-info-bottom">
                                <div class="level-number">
                                    <p></p>
                                </div>
                                <div class="level-bar">
                                    <span class="filled-xp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="level-info-container" id="division-container">
                            <div class="level-info-top">
                                <p class="level-text">÷</p>
                            </div>
                            <div class="level-info-bottom">
                                <div class="level-number">
                                    <p></p>
                                </div>
                                <div class="level-bar">
                                    <span class="filled-xp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="level-info-container" id="exponential-container">
                            <div class="level-info-top">
                                <p class="level-text exponential">x²</p>
                            </div>
                            <div class="level-info-bottom">
                                <div class="level-number">
                                    <p></p>
                                </div>
                                <div class="level-bar">
                                    <span class="filled-xp"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-page" id="game-tab">
        <div class="game-tab-container">
            <div class="progress-container game-timer"></div>

            <div class="progress-container game-questions"></div>
            
            <div class="question-container">
                <div class="question-row operand">
                    <p class="question-text" id="operand-1"></p>
                </div>
                <div class="question-row operator">
                    <p class="question-text" id="operator"></p>
                    <p class="question-text" id="operand-2"></p>
                </div>
                <div class="question-row result">
                    <input type="number" class="question-result" id="input-result" autofocus>
                </div>        
            </div>
            <div class="number-pad" id="number-pad">
                <div class="number-row">
                    <button class="number-button waves-effect" data-button="1"><span>1</span></button>
                    <button class="number-button waves-effect" data-button="2"><span>2</span></button>
                    <button class="number-button waves-effect" data-button="3"><span>3</span></button>
                </div>
                <div class="number-row">
                    <button class="number-button waves-effect" data-button="4"><span>4</span></button>
                    <button class="number-button waves-effect" data-button="5"><span>5</span></button>
                    <button class="number-button waves-effect" data-button="6"><span>6</span></button>
                </div>
                <div class="number-row">
                    <button class="number-button waves-effect" data-button="7"><span>7</span></button>
                    <button class="number-button waves-effect" data-button="8"><span>8</span></button>
                    <button class="number-button waves-effect" data-button="9"><span>9</span></button>
                </div>
                <div class="number-row">
                    <button class="number-button waves-effect" data-button="Backspace">
                        <span class="material-symbols-outlined">keyboard_backspace</span>
                    </button>
                    <button class="number-button waves-effect" data-button="0"><span>0</span></button>
                    <button class="number-button waves-effect" data-button="Enter" id="question-submit-button">
                        <span class="material-symbols-outlined">keyboard_return</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
