{% extends "layout.html" %}

{% block title %}
    Math-Stone 
{% endblock %}

{% block main %}
    <div class="entrance-banner">
        <p>MathStone</p>
        <img class="entrance-logo" src="static/logo-dark.png" alt="MathStone Logo dark">
    </div>

    <div class="form-box">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text"
                    autofocus autocomplete="off">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
              </div>
        </form>
    </div>
{% endblock %} 

<!-- <div class="entrance-banner">
    <h1>MathStone</h1>
    <img>
</div> -->
