<!DOCTYPE html>

<html lang="en" class="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="viewport" content="initial-scale=1, width=device-width"> -->
        <title>{% block title %}{% endblock %}</title>
        
        <!-- Compiled and minified CSS and JavaScript -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="static/code.jquery.com_jquery-3.7.0.min.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
        
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="static/style.css">

    </head>
    <body>
        {% if session["user_id"] %}
        <!-- If logged in display the header bar -->
        {% else %}
        <!-- assume not logged in so dont -->
        {% endif %}

        {% block main %}
        {% endblock %}
        <script type="text/javascript" src="static/script.js"></script>
    </body>
</html>