:root 
{
    --border-radius-size: 1rem;
}
html
{
    scroll-behavior: smooth;
}

html.light
{
    background-color: #fff;
    color: #222;
}
html.dark
{
    background-color: #222;
    color: #fff; 
}

html.light h3
{
    color: #222;
}
html.dark h3
{
    color: #fff;
}
html.light h5
{
    color: #222;
}
html.dark h5
{
    color: #fff;
}

.section-container 
{
    display: flex;
    margin: auto;
    text-align: center;
}
.section
{   
    position: relative;
    overflow: hidden;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.section-small 
{   
    width: 40%;
}
.section-med
{
    width: 50%
}
.section-large
{
    width: 55%;
    justify-content: center;
}
.logo-container
{   
    width: 100%;
    height: auto;
    justify-content: center;
    overflow: hidden;
}
.logo-container img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo
{   
    object-fit: scale-down;
    margin-bottom: 1rem;
}
form
{   
    padding: 1rem;
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Heebo', sans-serif;
}

html.light .input-box
{
    color: #222;
}
html.dark .input-box
{
    color: #fff;
}
.form-error
{   
    font-weight: 400;
    transition: .5s;
    height: 2rem;
    
}
html.light .form-error
{
    color: #d1214d;
}
html.dark .form-error
{
    color: #ff517c;
}
.session-information
{
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
}
.error
{
    color: #ff517c;
}
.success
{
    color: #2ad366;
}
.toast
{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}
.toast.success
{   
    background-color: rgb(70, 170, 121);
}
.toast.error
{
    background-color: rgb(194, 76, 76);
}
.btn 
{   
    background-color: #4f9db7;
    font-weight: 500;
    font-size: 140%;
    width: 32rem;
    max-width: 60%;
    border-radius: 1rem;
}
.btn:hover 
{
    background-color: #6bacc2;
}
.btn:focus 
{
    background-color: #6bacc2;
}

html.light .btn-secondary
{   
    color: #3e6775;
    background-color: #cbecf7;
}

html.dark .btn-secondary
{   
    color: #abc8d2;
    background-color: #244753;
}
.dark-mode-toggle
{
    width: 20%;
}
html.light .dark-mode-toggle
{
    background-color: #bfbfbf;
}
html.dark .dark-mode-toggle
{
    background-color: #444;
}

.card 
{
    margin: 3rem auto;
}

html.light .card
{
    background-color: #3b7b91;
}

html.dark .card
{
    background: #145650;
}
.flow-text
{   
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.slider
{
    margin-top: 2rem;
}
.slides 
{   
    border-radius: 4rem;
}
.slider .slides 
{   
    background-color: transparent;
}
.slider .slides li .caption {
    top: 0%;
}
.indicators
{   
    position: absolute;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
    top: 90%;
}

html.light .slider .indicators .indicator-item
{
    background-color: #cbecf7;
}
html.dark .slider .indicators .indicator-item
{
    background-color: #244753;
}
html.light .slider .indicators .indicator-item.active 
{
    background-color: #4f9db7;
}
html.dark .slider .indicators .indicator-item.active 
{
    background-color: #4f9db7;
}
html.dark .light-image 
{
    display: none;
}

.error-card-container
{   
    object-fit: contain;
    font-size: 3em;
    display: flex;
    width: 60%;
    height: 36rem;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    color: #c8d0f4;
    font-family: 'Source Sans Pro', sans-serif;
}
.tabs {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
}

.tabs .tab a 
{
    font-size: 120%;
    font-weight: 500;
    transition: 0.5s;
    color: #4f9db7;
}
.tabs .tab a.active {
    transition: 0.5s;
    font-size: 160%;
    font-weight: 700;
}
html.light .tabs .tab a.active 
{
    color: #41879f;
}
html.dark .tabs .tab a.active 
{
    color: #4f9db7;
}

.tabs .tab a:hover 
{
    color: #4f9db7;
}
.tabs .tab a.active:hover 
{
    color: #4f9db7;
}

.tabs .tab a:focus.active {
    background-color: rgba(0, 0, 0, 0)
}
.tabs .indicator {
    height: 0.2rem;
}

html.light .tabs .indicator
{
    background-color: #4f9db7;
}
html.dark .tabs .indicator
{
    background-color: #4f9db7;
}

.input-field input:focus + label
{
    color: #4f9db7 !important;
}

html.light .input-field label.failure
{
    color: #d1214d
}
html.dark  .input-field label.failure
{
    color: #ff517c
}
html.light .input-field label.success
{
    color: #4f9db7
}
html.dark  .input-field label.success
{
    color: #4f9db7
}

html.light .input-field input:focus + label
{
    color: #4f9db7 !important;
}
html.dark .input-field input:focus + label
{
    color: #4f9db7 !important;
}

html.light input.success
{
    box-shadow: 0 1px 0 0 #4f9db7 !important;
    border-bottom: 1px solid #4f9db7 !important;
}
html.dark input.success
{
    box-shadow: 0 1px 0 0 #4f9db7 !important;
    border-bottom: 1px solid #4f9db7 !important;
}
html.light input.failure
{
    box-shadow: 0 1px 0 0 #d1214d !important;
    border-bottom: 1px solid #d1214d !important;
}
html.dark input.failure
{
    box-shadow: 0 1px 0 0 #ff517c !important;
    border-bottom: 1px solid #ff517c !important;
}

input:focus 
{
    box-shadow: 0 1px 0 0 #4f9db7 !important;
    border-bottom: 1px solid #4f9db7 !important;
}

html.light input.success:focus
{
    box-shadow: 0 1px 0 0 #4f9db7 !important;
    border-bottom: 1px solid #4f9db7 !important;
}
html.dark input.success:focus
{
    box-shadow: 0 1px 0 0 #4f9db7 !important;
    border-bottom: 1px solid #4f9db7 !important;
}
.modal 
{
    border-radius: 2rem;
    max-width: 90%;
    width: 60rem;

}
html.light .modal
{
    background-color: #fff;
}

html.dark .modal
{
    background-color: #222;
}
.modal-overlay
{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-header
{
    display: block;
    justify-content: center;
    
}
.modal-content
{
    display: block;
    justify-content: center;
}

html.light .tabs
{
    background: #fff;    
}

html.dark .tabs
{
    background-color: #444;

}
html.light .caption
{
    color: #5f5f5f;
}
html.dark .caption
{
    color: #999999;
}
/* Most of these are only used on home */
.full-page
{   
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar
{
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar-btn
{
    border: none;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}
html.light .navbar-btn
{      
    color: #222;
    background-color: #d7d7d7;
}
html.dark .navbar-btn
{
    color: #fff;
    background-color: #3d3d3d;
}
html.light .navbar-btn:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}
html.dark .navbar-btn:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}
html.light .navbar-btn.active
{
    color: #fff;
    background-color: #4f9db7;
}
html.dark .navbar-btn.active
{
    color: #fff;
    background-color: #4f9db7;
}
html.light .navbar-btn.active:hover
{
    background-color: #418ea8;
}
html.dark .navbar-btn.active:hover
{
    background-color: #66b7d2;
}
.play-container
{   
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 80%;
    width: 80%;
    border-radius: 2rem;
    padding: 1rem;
}
html.light .play-container
{
    background-color: #d7d7d7;
}
html.dark .play-container
{
    background-color: #3d3d3d;
}
.play-container-top
{
    display: flex;
    height: 55%;
    padding-bottom: .5rem;
}
.play-container-bottom
{
    display: flex;
    flex: 10 10 45%;
    justify-content: center;
    padding-top: .5rem;
    height: 45%;
}
.play-container-btn
{   
    background: #244753;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
/* Parent element to all the switches */
.switchboard
{   
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0rem .5rem 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-right: .5rem;
    width: 100%;
}
/* pointer events:none on everything except set to :auto on the physical button div (switch-button) */
.switchboard *
{
    transition: all .3s ease, color .1s linear, text-shadow .1s linear;
    pointer-events: none;
}
html.light .switchboard
{
    background-color: #ababab;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0rem 1rem 2rem, inset rgba(0, 0, 0, 0.1) 1rem 0rem 2rem, inset rgba(0, 0, 0, 0.1) -1rem 0rem 2rem;

}
html.dark .switchboard
{
    background-color: #2b2b2b;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0rem 1rem 2rem, inset rgba(0, 0, 0, 0.2) 1rem 0rem 2rem, inset rgba(0, 0, 0, 0.2) -1rem 0rem 2rem;
}
.switch-column
{   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.switch
{   
    pointer-events: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem 1rem;
    border: none;
    height: 100%;
    width: 100%;
}
.switch-button
{
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    vertical-align: middle;
    width: 100%;
    height: 90%;
}
html.light .switch-button
{
    background-color: #dadada;
    color: #8b8b8b;
    box-shadow: #8e8e8e 0rem 1.4rem 0rem;
}
html.dark .switch-button
{
    background-color: #4b4b4b;
    color: #2e2e2e;
    box-shadow: #3b3b3b 0rem 1.4rem 0rem;
}
.switch.active .switch-button
{
    transform: translateY(1rem);
    position: relative;
}
html.light .switch.active .switch-button
{
    box-shadow: #4f9db7 0rem 0.4rem 0rem, #6bbad4 0rem 0.4rem 1.2rem;
    background-color: #6cbfda;
    color: #def7ff;
    text-shadow: #def7ff 0rem 0rem 1.5rem;
}
html.dark .switch.active .switch-button
{
    box-shadow: #346f83 0rem 0.4rem 0rem, #4f9db7 0rem 0.4rem 1rem;
    background-color: #4f9db7;
    color: #c0efff;
    text-shadow: #c0efff 0rem 0rem 1.5rem;
}

switch.large .switch-button 
{   
    height: 85%;
    box-shadow: #3b3b3b 0rem 1.4rem 0rem;
}
.switch.large.active .switch-button
{
    box-shadow: #346f83 0rem 0.4rem 0rem, #4f9db7 0rem 0.4rem 1rem;
    transform: translateY(1rem);
    position: relative;
    background-color: #4f9db7;
}
.switch-text
{
    height: auto;
    width: auto;
    position: absolute;
    font-size: 10rem;
}
.mode-select-container
{   
    margin-left: .5rem;
    border-radius: 1rem;
    width: 40%;
    height: 100%;
}
.test
{
    height: 4rem;
    width: 4rem;
    background-color: #244753;
}
.carousel
{
    height: 100%;
    width: 100%;
}
/* Extra Decorator Classes */
.rounded-left
{   
    border-top-left-radius: var(--border-radius-size);
    border-bottom-left-radius: var(--border-radius-size);
    overflow: hidden;
}
.rounded-right
{
    border-top-right-radius: var(--border-radius-size);
    border-bottom-right-radius: var(--border-radius-size);
    overflow: hidden;
}
.rounded-top-left 
{
    border-top-left-radius: var(--border-radius-size);
    overflow: hidden;
}

.rounded-bottom-left 
{
    border-bottom-left-radius: var(--border-radius-size);
    overflow: hidden;

}
.rounded-top-right 
{
    border-top-right-radius: var(--border-radius-size);
    overflow: hidden;
}

.rounded-bottom-right 
{
    border-bottom-right-radius: var(--border-radius-size);
    overflow: hidden;
}

@keyframes fadeIn 
{
    0% 
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.fade-in 
{
    animation: fadeIn .5s ease-in forwards;
}
@keyframes fadeOut 
{
    0% 
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
.fade-out
{
    animation: fadeOut .5s ease-in forwards;
}

@media (max-width: 800px) {
    .section-container
    {
        flex-direction: column;
    }
    .section 
    {
        padding: 2rem;
    }
    .section-small 
    {
        width: 100%;
        order: 2;
    }
    .section-large 
    {
        width: 100%;
        padding: 0rem;
        order: 1;
    }
    .full-page
    {
        justify-content: start;
    }
    .slider 
    {
        margin-top: 4rem;
    }
    .slides 
    {   
        border: none;
        border-radius: 0rem;
    }
    .navbar
    {   
        position: inherit;
        margin-bottom: 0;
        height: 6rem;
    }
    .navbar-btn
    {
        font-size: 4vw;
    }
    .play-container
    {   
        padding: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .play-container-top
    {   
        border-radius: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 80%;
    }
    
    .play-container-btn
    {
        border-radius: 0
    }
    .switchboard
    {
        padding: .5rem .5rem 1.5rem;
        border-radius: 0;
        height: 100%;
    }
    .mode-select-container
    {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .switch-text
    {
        font-size: 8rem;
    }


}